<launch>
  <param name="/use_sim_time" value="false"/>

  <include file="$(find rikibot)/launch/lidar/$(env RIKILIDAR).launch" />
  <include file="$(find rikibot)/launch/move_base.launch" />

  <arg name="map_file" default="$(find rikibot)/maps/room.yaml"/>
  <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

  <!-- AMCL -->
  <include file="$(find rikibot)/launch/amcl.launch"/>
  <node name="multi_mark" pkg="rikibot" type="show_mark.py" output="screen" />
</launch>
