<launch>
 <include file="$(find rikibot)/launch/lidar/$(env RIKILIDAR).launch" />
  <include file="$(find rikibot)/param/slam/slam_gmapping.xml" />
  <include file="$(find explore_lite)/launch/explore.launch" />
  <include file="$(find rikibot)/launch/move_base.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rikibot)/rviz/slam.rviz" required="true" />
</launch>
